@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollable-content::-webkit-scrollbar { display: none; }
.scrollable-content { -ms-overflow-style: none; scrollbar-width: none; }

@keyframes fadeIn { 
  from { opacity: 0; transform: translateY(5px); } 
  to { opacity: 1; transform: translateY(0); } 
}
.animate-fade-in {
  animation: fadeIn 0.3s ease-in-out;
}
